/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12-nov-2017, 16:42:16
    Author     : Mario
*/

body {
    background-color: background;
    font-family: Helvetica, Arial, sans-serif;
    width: 100%;
    heigth:100%;
}

form{
    text-align: center;
    margin: 0 auto;
}

footer{
    text-align: center;
    color: white;
    background-color: yellowgreen;
    margin-top: 310px;
    width: 100%;
    margin-left: -8px;
}

ul{
    background-color: yellowgreen;
    margin-top: -8px;
    margin-left: -10px;
    
}

a{
    text-decoration: none; 
}
ul>li{
    display: inline-block;
    font-size: 2em;
    background-color: yellowgreen;
    
}

ul>li:hover{
     background-color: activecaption;
}

div{
    font-family: Helvetica, Arial, sans-serif;
    margin: 0 auto;
    width: 450px;
    height: 200px;
    background-color: lightskyblue;
    border-radius: 10px;
}

#boton{
    text-decoration: none;
    padding: 5px;
    font-weight: 600;
    font-size: 20px;
    
}

table {  
    color: #333; 
    font-family: Helvetica, Arial, sans-serif; 
    width: 640px; 
    border-collapse: collapse;
    margin: 0 auto;  
}
td, th {
    border: 1px solid transparent; 
    height: 30px; 
}
th { background: #D3D3D3; 
     font-weight: bold; 
}
td { background: #FAFAFA;
     text-align: center; 
}
tr:nth-child(even) 
td { 
    background: #F1F1F1; 
}  
tr:nth-child(odd)
td {
    background: #FEFEFE; 
} 
