header{
    background-color: cadetblue;
    top: 0;
    width: 100%;
}

#contenido{
    
    margin-top: 10%;
}

table{
    text-align: center;
}

#registro{
    margin-left: 40%;
}

#repositorio1{
    float:right;  
}

#err{
    color:red;
}

#repositorio2{
    float:left;
    
}

aside{
    background-color: aliceblue;
}

div>img{
   -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -ms-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;  
}

div>img:hover{
    webkit-transform:scale(1.5);
    -moz-transform:scale(1.5);
    -ms-transform:scale(1.5);
    -o-transform:scale(1.5);
    transform:scale(1.5); 
}


#salir{
    float: right;
    margin-top: -3%;
}

footer{
    margin-top: 5%;
    background-color: cadetblue;
    overflow: hidden;
    bottom: 0;
    width: 100%;
}

li:hover{
    background-color: aliceblue;
    
}



a{
    color:white;
}

#encuesta{
    width: 25%;
    margin-left: 38%
}

main{
    background-color: cadetblue;
    width: 80%;
    margin: 0 auto;
    margin-top: 10%;
    padding:1%;
}

article{
    background-color: cadetblue;
}

form{
    margin: 0 auto;
}